
.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
}


.MostrarColor {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}


